{% extends "base.html" %}
<!---->
{% load static %}
<!---->

{% block content %}
<div id="OtherID" style="width: 100%;height: 100%;">

    <!--navbar header-->
    {% include 'header.html' %}

    <!--tab videos-->
    <!-- {% include 'videos.html' %} -->

    <!-- Hình nền chính  -->
    <div class="main">
        <div class="nav-menu">
            <i class="fas fa-bars fa-2x" onclick="ShowModal()"></i>
        </div>
        <img class="background-main" src="">

    </div>

</div>




<!---->
{% endblock %}